header {
    background-color: #343a40;
}

nav {
    margin: 0 auto;
    color: whitesmoke;
}

.navbar-brand {
    font-size: 30px !important;
    font-weight: bold;
    color: whitesmoke !important;
}