.drop-down-list {
    position: absolute;
    color: black;
    list-style: none;
    padding: 0;
    background-color: white;
}

.drop-down-list li:hover {
    background-color: rgb(226, 226, 226);
}

.underLine {
    border-bottom: 1px solid black;
    padding: 15px;
}
